<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand">Job Boards</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-md-auto">
          <li>
            <a href="#" class="nav-item nav-link">S'inscrire</a>
          </li>
          <li>
            <a href="#" class="nav-item nav-link">S'identifier</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main role="main" class="main">
  <section id="hero" class="hero-section">
    <div class="container">
      <div class="hero">
        <h1>La plateforme de mise en relation professionnelle pour des prestations de services.</h1>
        <p>Des milliers d'entreprises ou de particuliers recherchent, pour un service ponctuel ou permanent, une personne disponible.</p>
      </div>
      <div class="av-modules">
        <ul>
          <li>Déposer une annonce</li>
          <li>Trouver une annonce</li>
        </ul>
      </div>
    </div>
  </section>
</main>
<footer class="app-footer fixed-bottom">
  <div class="container">
    <div class="py-5">
      <section class="mentions">
        <div class="d-md-inline-flex">
          <div class="logo">logo zone</div>
          <div class="site-map"></div>
          <div class="social-links"></div>
        </div>
      </section>
      <section class="copyright">
        <p>&copy; 2020 Job boards</p>
      </section>

    </div>
  </div>
</footer>
