<header>
  <nav>
    <h1>SuperGuard</h1>
    <div>
      <button>S'incrire</button>
      <button>S'identifier</button>
    </div>
  </nav>
</header>
<main>
  <section id="hero">
    <div>
      Bienvenue dans la plateforme des agents de sécurité.
    </div>
  </section>
</main>
<footer>
  <p>The page footer</p>
</footer>
