
  <section id="hero" class="hero-section">
    <div class="container py-2">
      <div class="hero">
        <h1 class="hero-title">La plateforme de mise en relation professionnelle pour des prestations de services.</h1>
        <p class="hero-description">Des milliers d'entreprises ou de particuliers recherchent, pour un service ponctuel ou permanent, une personne disponible.</p>
      </div>
      <div class="av-modules">
        <ul class="list-unstyled flex-row d-md-flex">
          <li class="module-item"><a href="#" class="btn btn-outline-secondary btn-lg" role="button">Déposer une annonce</a></li>
          <li class="module-item"><a href="#" class="btn btn-outline-secondary btn-lg" role="button">Trouver une annonce</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="partners" class="partners-section">
    <div class="container partners">
      <div class="d-flex align-items-center">
        <h4 class="mr-md-3 partners-title">Nos partenaires</h4>
        <div class="d-flex align-items-center ml-md-4 mr-md-auto">
          <ul class="list-inline partners-list">
            <li class="list-inline-item">Pôle Emploi</li>
            <li class="list-inline-item">Triangle Protection</li>
            <li class="list-inline-item">Super Guard</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="stats" class="stats-section py-2">
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <FaIcon @icon="landmark" />
            123 000 Clients inscrits
          </div>
          <div class="col-md-4">
            <FaIcon @icon="user-check" />
            456 789 Candidats inscrits
          </div>
          <div class="col-md-4">
            <FaIcon @icon="business-time" />
            789 123 Offres disponibles
          </div>
        </div>
      </div>
    </div>
  </section>
